* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    text-align: center;
    font-size: 18px;
}

hr {
    border-top: 1.5px lightblue;
    color: blue;
    opacity: 0.8;
}

h1 {
    text-align: left;
    margin-top: 10%;
    font-weight: bold;
}

header h1 {
    text-align: center;
}

ul {
    list-style: none;
}

li {
    text-align: left;
}

#questions {
    text-align: left;
}

#questions h1 {
    text-align: left;
    font-size: 30px;
}

#highscores {
    float: left;
    position: absolute;
    top: 0;
    left: 1rem;
    clear: both;
    color: royalblue;
}

#timer {
    float: right;
    position: absolute;
    top: 0;
    right: 1rem;
    clear: both;
}

#highscore-list {
    list-style: none;
    padding-left: 0px;
}

.highscore {
    text-align: left;
    font-weight: bold;
    padding: 0.25rem 1rem;
    color: white;
    border-radius: 5px;
}

.btn-maroon {
    background-color: maroon;
    border-color: gray;
    color: white;
    font-weight: bold;
    padding: 3px 6px;
}

.nav-container {
    position: relative;
    width: 100%;
    margin-top: .5rem;
    font-size: 24px;
    height: 40px;
    font-weight: bolder;
}

.submit-field {
    text-align: left;
}
